body{
    background-image: url(https://wallpaper.forfun.com/fetch/a5/a53b32dd99498031ca356becc4a0512e.jpeg?w=1470&r=0.5625);
    background-color: #2d2727c7; /* Couleur de fond de secours */
    background-repeat: no-repeat; /* Ne pas répéter l'image */
    background-size: cover; /* Couvre tout l'écran */
    background-position: center;
    margin: 0;
    min-height: 100vh;
    background-attachment: fixed;
}
nav{
    position: fixed;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center ;
}
header{
    height: 100vh;
    position: fixed;
    background: linear-gradient();
}
.logo img{
    max-width: 100px;
    height: auto;
    display: flex;
}
.navbar{
    list-style: none;
    display: flex; 
    margin-left: 700px;
    gap: 20px;

}
.navbar li{
    margin-left: 20px;
}
.navbar a{
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    font-size: 1em;
    text-decoration: none;
    transition: color 0.3s ease, filter 0.3s ease;
    z-index: 2000;
}
.navbar a:hover{
    display: block;
    color: #1384cc;
    filter: drop-shadow(0 0 10px #1384cc);
}